body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message{
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
    width: 80%;
    margin: 5px auto;
}

.message-info{
    background-color: #ccdeff;
    color: #4d47a2;
}

.message-success{
    background-color:#cff3da;
    color: #408a5c;
}

.message-warning{
    background-color: #fcfbc9;
    color: #ad9f4e;
}

.message-error{
    background-color: #fad2d6;
    color: #ab5767;
}