@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    background-color:peachpuff;
}

.card{
    background-color:deepskyblue;
}

#find {
    background-color: #4d47a2;
}


/*.city-name p {*/
/*    font-size: xx-large;*/
/*    font-weight: 500;*/

/*}*/

/*.city-name span {*/
/*    font-weight: 500;*/
/*    font-size: large;*/
/*    font-family: "Times New Roman", Times, serif;*/
/*    position: center;*/
/*    top: -40px;*/
/*}*/